doctype html

html(data-ng-app='blogApp')
	head
		// important for Angular's HTML 5 mode
		base(href='/')

		title My first Node/Angular/Bower/Grunt app

		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', type='text/css', href='/css/alertify.core.css')
		link(rel='stylesheet', type='text/css', href='/css/alertify.bootstrap.css')
		link(rel='stylesheet', type='text/css', href='/css/custom.css')

	body
		.container
			.row
				.col-xs-12
					.view-frame(data-ng-view, class='slide-animation')
			.row
				.col-xs-12
					.panel.panel-default.credits-panel
						.panel-body
							| Powered by 
							a(href='http://angularjs.org') Angular.js
							|  & 
							a(href='http://nodejs.org') node.js


		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/angular.min.js')
		script(type='text/javascript', src='/js/angular-route.min.js')
		script(type='text/javascript', src='/js/angular-animate.min.js')
		script(type='text/javascript', src='/js/alertify.min.js')
		script(type='text/javascript', src='/js/blogApp.min.js')
