doctype html

html(data-ng-app='blogApp')
	head
		title My first Node/Angular/Bower/Grunt app

		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', type='text/css', href='/css/alertify.core.css')
		link(rel='stylesheet', type='text/css', href='/css/alertify.bootstrap.css')
		link(rel='stylesheet', type='text/css', href='/css/custom.css')

	body
		.container
			.row
				.col-xs-12
					.view-frame(data-ng-view)

		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/angular.min.js')
		script(type='text/javascript', src='/js/angular-route.min.js')
		script(type='text/javascript', src='/js/alertify.min.js')
		script(type='text/javascript', src='/js/blogApp.min.js')
