@nice-blue: #5b83ad;
@light-blue: @nice-blue + #111;
@light-grey: #777;
@urgent: #EE3322;

h1 {
	color: @light-blue;
}

.important {
	color: @urgent;
}

.author {
	color: @light-grey;
	margin-bottom: 10px;
}
